In [6]:
import pandas as pd
import numpy as np

dataset_dict = {
    'Outlook': ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast', 'overcast', 'rainy', 'sunny', 'overcast', 'rainy', 'sunny', 'sunny', 'rainy', 'overcast', 'rainy', 'sunny', 'overcast', 'sunny', 'overcast', 'rainy', 'overcast'],
    'Temperature': [85.0, 80.0, 83.0, 70.0, 68.0, 65.0, 64.0, 72.0, 69.0, 75.0, 75.0, 72.0, 81.0, 71.0, 81.0, 74.0, 76.0, 78.0, 82.0, 67.0, 85.0, 73.0, 88.0, 77.0, 79.0, 80.0, 66.0, 84.0],
    'Humidity': [85.0, 90.0, 78.0, 96.0, 80.0, 70.0, 65.0, 95.0, 70.0, 80.0, 70.0, 90.0, 75.0, 80.0, 88.0, 92.0, 85.0, 75.0, 92.0, 90.0, 85.0, 88.0, 65.0, 70.0, 60.0, 95.0, 70.0, 78.0],
    'Wind': [False, True, False, False, False, True, True, False, False, False, True, True, False, True, True, False, False, True, False, True, True, False, True, False, False, True, False, False],
    'Play': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(dataset_dict)
df

     Outlook  Temperature  Humidity   Wind Play
0      sunny         85.0      85.0  False   No
1      sunny         80.0      90.0   True   No
2   overcast         83.0      78.0  False  Yes
3      rainy         70.0      96.0  False  Yes
4      rainy         68.0      80.0  False  Yes
5      rainy         65.0      70.0   True   No
6   overcast         64.0      65.0   True  Yes
7      sunny         72.0      95.0  False   No
8      sunny         69.0      70.0  False  Yes
9      rainy         75.0      80.0  False  Yes
10     sunny         75.0      70.0   True  Yes
11  overcast         72.0      90.0   True  Yes
12  overcast         81.0      75.0  False  Yes
13     rainy         71.0      80.0   True   No
14     sunny         81.0      88.0   True   No
15  overcast         74.0      92.0  False  Yes
16     rainy         76.0      85.0  False  Yes
17     sunny         78.0      75.0   True   No
18     sunny         82.0      92.0  False   No
19     rainy         67.0      90.0   True   No
20  overcast         85.0      85.0   True  Yes
21     rainy         73.0      88.0  False  Yes
22     sunny         88.0      65.0   True  Yes
23  overcast         77.0      70.0  False  Yes
24     sunny         79.0      60.0  False  Yes
25  overcast         80.0      95.0   True  Yes
26     rainy         66.0      70.0  False   No
27  overcast         84.0      78.0  False  Yes

In [7]:
df = pd.get_dummies(df, columns=['Outlook'], prefix='', prefix_sep='', dtype=int)

In [8]:
df['Wind'][df['Wind'] == False] = 0
df['Wind'][df['Wind'] == True] = 1

/tmp/ipykernel_61745/3821878074.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Wind'][df['Wind'] == False] = 0
/tmp/ipykernel_61745/3821878074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wind'][df['Wind'] == False] = 0
/tmp/ipykernel_61745/3821878074.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df['Wind'][df['Wind'] == False] = 0

In [10]:
df = df[['sunny', 'overcast', 'rainy', 'Temperature', 'Humidity', 'Wind', 'Play']]
df

    sunny  overcast  rainy  Temperature  Humidity Wind Play
0       1         0      0         85.0      85.0    0   No
1       1         0      0         80.0      90.0    1   No
2       0         1      0         83.0      78.0    0  Yes
3       0         0      1         70.0      96.0    0  Yes
4       0         0      1         68.0      80.0    0  Yes
5       0         0      1         65.0      70.0    1   No
6       0         1      0         64.0      65.0    1  Yes
7       1         0      0         72.0      95.0    0   No
8       1         0      0         69.0      70.0    0  Yes
9       0         0      1         75.0      80.0    0  Yes
10      1         0      0         75.0      70.0    1  Yes
11      0         1      0         72.0      90.0    1  Yes
12      0         1      0         81.0      75.0    0  Yes
13      0         0      1         71.0      80.0    1   No
14      1         0      0         81.0      88.0    1   No
15      0         1      0         74.0      92.0    0  Yes
16      0         0      1         76.0      85.0    0  Yes
17      1         0      0         78.0      75.0    1   No
18      1         0      0         82.0      92.0    0   No
19      0         0      1         67.0      90.0    1   No
20      0         1      0         85.0      85.0    1  Yes
21      0         0      1         73.0      88.0    0  Yes
22      1         0      0         88.0      65.0    1  Yes
23      0         1      0         77.0      70.0    0  Yes
24      1         0      0         79.0      60.0    0  Yes
25      0         1      0         80.0      95.0    1  Yes
26      0         0      1         66.0      70.0    0   No
27      0         1      0         84.0      78.0    0  Yes

In [12]:
df.to_csv('dolan.csv')